.mid-box {
    text-align: center;
    font-size: large;
}

.number {
    font-size: 250px;
}

.button-success {
    background: rgb(28, 184, 65);
    width: 8em;
    height: 3em;
    font-size:125%
}

.button-failure {
    background: rgb(202, 60, 60);
    width: 8em;
    height: 3em;
    font-size:125%
}