body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.count-grid {
  display: flex;
  flex-flow: column wrap;
}

.count-grid label {
  margin-top: 2em;
  font-size: large;
  font-weight: bolder;
  text-align: center;
}

.mid-box {
  text-align: center;
  font-size: large;
}

.number {
  font-size: 100px;
}

.button-success {
  background: rgb(28, 184, 65);
  width: 8em;
  height: 3em;
  font-size:75%
}

.button-failure {
  background: rgb(202, 60, 60);
  width: 8em;
  height: 3em;
  font-size:75%
}

.button-reset {
  margin-top: 4em;
  margin-bottom: 1em;
  width: 8em;
  height: 3em;
  font-size:50%
}